# Environment & Local virtualenvs
venv/
.venv/
env/
ENV/
*.db
*.sqlite3

# Node dependencies & Frontend build output
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Python cache & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
